<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}SignUpCare{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <style>
        html.font-small {
            font-size: calc(1rem - 4px);
        }
        html.font-normal {
            font-size: 1rem;
        }
        html.font-large {
            font-size: calc(1rem + 4px);
        }
        .font-size-option.is-active {
            background: var(--bs-white)!important;
            color: var(--bs-blue)!important;
        }
    </style>
</head>
{% block body %}
{% endblock %}
</html>