{% extends "header.html" %}

{% block container %}
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center flex-fill mx-auto">
                <div class="row d-flex flex-fill justify-content-start">
                    <div class="col d-flex justify-content-start align-items-center">
                        <h1 style="color: var(--bs-blue);text-align: left;">Выберете услугу</h1>
                    </div>
                    <div class="col d-flex justify-content-end align-items-center" style="text-align: right;">
                        <a class="btn btn-primary" role="button" href="{% url 'user:user' %}"><i class="far fa-user-circle"  style="padding-right: 10px;"></i>Личный кабинет<br></a></div>
                </div>
                <div class="row">
                    <div class="col d-flex flex-row justify-content-start flex-wrap" style="padding-top: 16px;">
                        <a class="btn {% if category_filtered %} btn-light {% else %} btn-primary {% endif %}" role="button" href="{% url "care:services" %}" style="margin-right: 16px;margin-bottom: 16px;">Все услуги<br></a>
                        {% for category in categories %}

                        <a class="btn {% if category_filtered == category.id %} btn-primary {% else %} btn-light {% endif %}" role="button" href="{% url "care:services" %}?category={{ category.id }}" style="border-style: solid;border-color: #e5ecf9;margin-right: 16px;margin-bottom: 16px;">
                            <i class="{{ category.icon }}" style="padding-right: 10px;"></i>{{ category.name }}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            {% for service in services %}
            <div class="col"><a href="{% url 'care:service' service.id %}" style="text-decoration: none;">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="d-flex justify-content-between align-items-start align-content-center" style="margin-bottom: 8px;">
                                {% if service.category %}<div class="d-flex justify-content-center align-items-center align-content-center" style="width: 48px;height: 48px;color: {% if service.category and service.category.color %}{{ service.category.color }}{% else %}var(--bs-gray-400){% endif %};background: {% if service.category and service.category.background %}{{ service.category.background }}{% else %}var(--bs-secondary){% endif %};padding: 4px;border-radius: 6px;"><i class="{{ service.category.icon }}" style="font-size: 32px;"></i></div>{% endif %}
                                {% if service.is_documents_required %}<div class="d-flex justify-content-center align-items-center align-content-center" style="background: #fdf7c0;color: #b18802;border-radius: 6px;width: 220px;"><span>Требуются документы</span></div>{% endif %}
                            </div>
                            <h4 class="card-title" style="color: var(--bs-black);">{{ service.name }}</h4>
                            <h4 class="card-title" style="color: var(--bs-blue);">{{ service.price }}&nbsp;₽</h4>{% if service.is_documents_required %}<span style="color: var(--bs-black);">Паспорт и полис ОМС</span>{% endif %}
                        </div>
                    </div>
                </a></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}