{% extends "header.html" %}

{% block container %}
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center flex-fill mx-auto">
                <div class="row d-flex flex-fill justify-content-start">
                    <div class="col d-flex justify-content-between align-items-center align-content-center">
                        <h1 style="color: var(--bs-blue);text-align: left;">Личный кабинет</h1>
                        <form method="post" action="{% url 'user:logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">
                                <i class="fas fa-arrow-right" style="padding-right: 10px;"></i>Выйти
                            </button>
                        </form>
                    </div>
                    <div class="col d-flex justify-content-end align-items-center" style="text-align: right;">
                        <a class="btn btn-primary" href="{% url 'care:services' %}" role="button"><i class="fas fa-plus"
                                                                                                     style="padding-right: 10px;"></i>Новая
                            запись<br></a></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4" style="min-height: 210px;">
                        <div class="d-flex justify-content-between align-items-start align-content-center"
                             style="margin-bottom: 8px;">
                            <div class="d-flex justify-content-center align-items-center align-content-center">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-6">
                                            <h4>Личные данные</h4>
                                        </div>
                                        <div class="col-6 d-flex justify-content-end align-items-center align-content-center">
                                            <button class="btn btn-light" type="button"
                                                    style="border-style: solid;border-color: #e5ecf9;"
                                                    data-bs-target="#user-edit" data-bs-toggle="modal"><i
                                                    class="fas fa-pen"
                                                    style="margin-right: 6px;"></i>Изменить
                                            </button>
                                        </div>
                                        <div class="col">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="d-flex flex-column align-items-start mb-3"><span
                                                            class="text-nowrap"><i class="fas fa-user"
                                                                                   style="padding-right: 4px;"></i>Имя пользователя</span>
                                                        <h6>{% if user.name %} {{ user.name }} {% else %} Не
                                                            указано {% endif %}</h6>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="d-flex flex-column align-items-start mb-3"><span
                                                            class="text-nowrap"><i class="fas fa-phone"
                                                                                   style="padding-right: 4px;"></i>Номер телефона</span>
                                                        <h6>{% if user.phone %} {{ user.phone }} {% else %} Не
                                                            указан {% endif %}</h6>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="d-flex flex-column align-items-start mb-3"><span
                                                            class="text-nowrap"><i class="fas fa-envelope"
                                                                                   style="padding-right: 4px;"></i>Email</span>
                                                        <h6>{% if user.email %} {{ user.email }} {% else %} Не
                                                            указан {% endif %}</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <h4>Документы (для медицинских услуг)</h4>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex flex-column align-items-start mb-3"><span
                                                class="text-nowrap"><i
                                                class="fas fa-passport" style="padding-right: 4px;"></i>Паспорт</span>
                                            <h6>{% if user.passport %} {{ user.passport }} {% else %} Не
                                                указан {% endif %}</h6>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-flex flex-column align-items-start mb-3"><span
                                                class="text-nowrap"><i
                                                class="fas fa-file-alt" style="padding-right: 4px;"></i>Полис ОМС</span>
                                            <h6>{% if user.policy %} {{ user.policy }} {% else %} Не
                                                указан {% endif %}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div tabindex="-1" id="user-edit" role="dialog"
                             class="modal fade"
                        >
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Редактирование личных данных</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <form method="post" action="{% url 'user:user' %}">
                                        {% csrf_token %}
                                        <div class="modal-body d-flex flex-column justify-content-between align-items-center align-content-center">
                                            <div class="d-flex flex-column align-items-center mb-3"><span><i
                                                    class="fas fa-envelope"
                                                    style="padding-right: 4px;"></i>Email</span><input
                                                    type="email" name="email" placeholder="example@email.com"
                                                    inputmode="email"
                                                    value="{% if user.email and user.email != 'None' %}{{ user.email }}{% endif %}"
                                            >
                                                {% if error_dict.email %}
                                                    <span style="color: var(--bs-danger);">{{ error_dict.email.0.message }}</span>
                                                {% endif %}
                                            </div>
                                            <div class="d-flex flex-column align-items-center mb-3"><span><i
                                                    class="fas fa-phone"
                                                    style="padding-right: 4px;"></i>Номер телефона</span><input
                                                    type="tel" placeholder="+7 (999) 123-45-67" name="phone"
                                                    inputmode="tel"
                                                    value="{% if user.phone and user.phone != 'None' %}{{ user.phone }}{% endif %}"
                                            >
                                                {% if error_dict.phone %}
                                                    <span style="color: var(--bs-danger);">{{ error_dict.phone.0.message }}</span>
                                                {% endif %}
                                            </div>
                                            <div class="d-flex flex-column align-items-center mb-3"><span><i
                                                    class="fas fa-user"
                                                    style="padding-right: 4px;"></i>Имя пользователя</span><input
                                                    type="text" placeholder="Иван Иванов" name="name"
                                                    value="{% if user.name and user.name != 'None' %}{{ user.name }}{% endif %}"
                                            >
                                                {% if error_dict.name %}
                                                    <span style="color: var(--bs-danger);">{{ error_dict.name.0.message }}</span>
                                                {% endif %}
                                            </div>
                                            <div class="d-flex flex-column align-items-center mb-3"><span><i
                                                    class="fas fa-passport"
                                                    style="padding-right: 4px;"></i>Паспорт</span><input
                                                    type="text" placeholder="1234 123456" name="passport"
                                                    value="{% if user.passport and user.passport != 'None' %}{{ user.passport }}{% endif %}"
                                            >
                                                {% if error_dict.passport %}
                                                    <span style="color: var(--bs-danger);">{{ error_dict.passport.0.message }}</span>
                                                {% endif %}
                                            </div>
                                            <div class="d-flex flex-column align-items-center mb-3"><span><i
                                                    class="fas fa-file-alt"
                                                    style="padding-right: 4px;"></i>Полис ОМС</span><input type="text"
                                                                                                           placeholder="1234 1234 1234 1234"
                                                                                                           name="policy"
                                                                                                           value="{% if user.policy and user.policy != 'None' %}{{ user.policy }}{% endif %}"
                                            >
                                                {% if error_dict.policy %}
                                                    <span style="color: var(--bs-danger);">{{ error_dict.policy.0.message }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-light" type="button" data-bs-dismiss="modal">Отменить
                                            </button>
                                            <button class="btn btn-primary" type="submit">Сохранить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-8">
                <h1>Записи ({{ appointments.count }})</h1>
                {% if appointments.count < 1 %}
                    <div class="card" style="margin-bottom: 24px;">
                        <div class="card-body">
                            <div class="d-flex flex-column justify-content-center align-items-center align-content-center">
                                <h4 style="color: var(--bs-gray-600);text-align: center;">У вас нет предстоящих
                                    записей&nbsp;</h4><a class="btn btn-primary" role="button"
                                                         href="{% url 'care:services' %}" style="margin-top: 12px;"><i
                                    class="fas fa-plus" style="padding-right: 10px;"></i>Новая запись<br></a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    {% for appointment in appointments %}
                        <div class="col-sm-12 col-md-6">
                            <div class="card" style="margin-bottom: 24px;">
                                <div class="card-body"
                                     {% if appointment.is_past %}style="background: var(--bs-gray-200);"{% endif %}>
                                    <div class="d-flex justify-content-between align-items-start align-content-center"
                                         style="margin-bottom: 8px;">
                                        <div class="d-flex justify-content-center align-items-center align-content-center">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <h4>{{ appointment.service.name }}<br></h4>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <h4 style="color: var(--bs-blue);">{{ appointment.service.price }}
                                                            ₽</h4>
                                                        <span>{{ appointment.specialist.name }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if not appointment.is_past %}
                                            <div class="d-flex justify-content-center align-items-center align-content-center">
                                                <button class="btn btn-danger d-block w-100" type="button"
                                                        style="border-style: solid;border-color: #e5ecf9;"
                                                        data-bs-target="#modal-1"
                                                        data-bs-toggle="modal">Отменить
                                                </button>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <span>{{ appointment.date }} {{ appointment.time }}</span>
                                </div>
                            </div>
                            <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Отменить запись?</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Вы уверены, что хотите отменить запись?</p>
                                            <div class="d-flex justify-content-between align-items-start align-content-center"
                                                 style="margin-bottom: 8px;">
                                                <div class="d-flex justify-content-center align-items-center align-content-center">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col">
                                                                <h4>{{ appointment.service.name }}<br></h4>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <h4 style="color: var(--bs-blue);">{{ appointment.service.price }}
                                                                    ₽</h4>
                                                                <span>{{ appointment.specialist.name }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <span>{{ appointment.date }} {{ appointment.time }}</span>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-light" type="button" data-bs-dismiss="modal">Закрыть
                                            </button>
                                            <form method="post" action="{% url 'care:appointment-delete' appointment.id %}">
                                                {% csrf_token %}
                                                <button class="btn btn-danger" type="submit">Отменить</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% if error_dict %}
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const modalElement = document.getElementById('user-edit');
                const modalInstance = new bootstrap.Modal(modalElement);
                modalInstance.show();
            });
        </script>
    {% endif %}
{% endblock %}